@model JeffriesDataLibrary.VBlog

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>VBlog</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FileName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FileName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FileType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FileType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DatePosted)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DatePosted)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IndexOrder)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IndexOrder)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.VBlogId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
